body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #e5e7eb
  }

  .header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    align-items: center;
  }

  .right-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
  }

  .logo {
    font-size: 24px;
    color: #f9faf8
  }