body {
    display: flex;
    flex-direction: column;
}
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #e5e7eb
  }

  .header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    align-items: center;
  }

  .right-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
  }

  .logo {
    font-size: 24px;
    color: #f9faf8
  }

  .one {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 50px;
    gap: 12px;
  }

  .left {
    background-color: ;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;
    
  }

  .main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
  }

  .text {
    font-size: 18px;
    color: #e5e7eb;
  }

  button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 8px 16px;
    width: 100px;
  }
